{
  "semi": true,
  "singleQuote": true,
  "endOfLine": "lf",
  "trailingComma": "all",
  "insertPragma": false,
  "tabWidth": 4,
  "useTabs": false,
  "printWidth": 80,
  "proseWrap": "preserve",
  "arrowParens": "avoid",
  "singleAttributePerLine": true
}
